

@import url('https://fonts.cdnfonts.com/css/handwriting');


body{ 
font-family: 'Handwriting', sans-serif;

 background-image: url('./images/bg.jpeg');

}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

li{ 
list-style:none; }

input[type="checkbox"] {
    display: none;
}
main{ 
text-align:center;
font-size: 50px; }

.hidden{ 
display:none; }